.footer-container {
    background-image:linear-gradient(#352343, #201429);
    position: fixed;
    bottom: 0;
    left: 0;
    height: 8%;
    width: 100%;
    border-top-style: double;
    color: #FFF4E9;


}

.footer-list {
    display: flex;
}

.footer-list > li {
    list-style-type: none;
    color:antiquewhite;
    margin: auto;
    border-left-style: double;
    border-right-style: double;
    padding-left: 30px;
    padding-right: 30px;

}

.footer-list > li > p {
    margin-bottom: 0;
    padding-bottom: 0;
}

.footer-list > li > a {
    color:antiquewhite;
}

.footer-icon {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .footer-container {
        height: 6%;
        border-top-style: none;

    }

    .footer-list {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        padding-left: 0%;
    }

    .footer-list > li {
        border-style: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3px;
    }

    .iconName {
        display: none;
    }

    .footer-icon {
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        height: 35px;
        width: 35px;
    }
}