.navbar {
    display:flex;
    margin-left: 30%;
    margin-right: 30%;
    padding: 0;
}

.nav-item{
    list-style-type: none;
    margin: auto;
    border-right-style: double;
    border-left-style: double;
    padding: 5px;
    font-size: 20px;
    color:antiquewhite;
}

.nav-item > a {
    color:antiquewhite;
}

@media only screen and (max-width: 768px) {
    .navbar {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
    .nav-item {
        border-style: none;
        padding: 0;

    }
    
    
}