.projectName {
    text-align: center;
    color:antiquewhite;
}

.image {
    display: block;
    margin: auto;
    height: 200px;
    width: 300px;
}

.project-list-item {
    display: inline-block;
    width: 50%;
}

.btn-container {
    display: flex;

}

.btn {
    margin-top: 5px;
    height: 30px;
    width: 150px;
    border-radius: 5px;
    padding: 5px;
}

.demo-btn {
    margin-left: auto;
}

.repo-btn {
    margin-right: auto;
}

.container > div > h1 {
    color:antiquewhite;
    text-align: center;
}