.projectName {
    text-align: center;
    color:antiquewhite;
}

.image {
    display: block;
    margin: auto;
    height: 200px;
    width: 300px;
}

.image:hover {
    box-shadow: 0 0 100px #352343;
}

.project-ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.project-list-item {
    display: inline-block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.btn-container {
    display: flex;

}

.btn {
    margin-top: 5px;
    height: 30px;
    width: 150px;
    border-radius: 5px;
    padding: 5px;
    border-color: black;
}

.btn:hover {
    background-color: #352343;
}

.btn:hover > a:hover {
    color:antiquewhite;
}

.demo-btn {
    margin-left: auto;
    background-color:antiquewhite;
}

.repo-btn {
    margin-right: auto;
    background-color:antiquewhite;
}

.container > div > h1 {
    color:antiquewhite;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .project-ul {
        margin-bottom: 60px;
    }

    .project-list-item {
      display: block;
      width: fit-content;
    }

    .projectName {
        display: inline;
        font-size: 20px;
    }

    .btn-container {
        margin-right: 0;
        width:fit-content;
    }

    .repo-btn {
        margin-right: 0;
    }

    .demo-btn {
        margin-left: 0;
    }

}