.PortPhoto {
    border-radius: 10%;
    width: 320px;
    height: 250px;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.about > p {
    background-color: antiquewhite;
    font-size: 18px;;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 10px;
    padding: 15px;
}

.about > h2 {
    color:antiquewhite;
    margin-left: 30%;
    margin-right: 30%;
}

@media only screen and (max-width: 600px) {
    .PortPhoto {
       width: 80%;
       height: 80%;
       margin-left: auto;
       margin-right: auto;
    }

    .about > p {
        width: 100%;
        font-size: 16px;
        margin-right: auto;
        margin-left: auto;
padding-top: 0;    }
}