.form-center {
    display:flex;
    justify-content: center;
}

.contact-form {
    margin-top:5%;
    display: inline-flex;
    flex-direction: column;
    width: 50%;
    height: 500px;
}

.contact-form > h3 {
    color: antiquewhite;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    height: 20%;
    text-align: center;
}
.contact-form > input {
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
}

.contact-form > textarea {
    margin-left: 10%;
    margin-right: 10%;
    height: 20%;    
    border-radius: 5px;
}

.send-btn:hover {
    background-color: #352343;
    color:antiquewhite;
}

@media only screen and (max-width: 768px) {
    .contact-form {
        width: 100%;
    }
}