body {
    background-image: linear-gradient(black, gray);
    padding-bottom: 0;
    margin: 0;

}

body > #root > div {
    height: 100vh;
}

@media only screen and (min-width: 601px) {
    
}

@media only screen and (max-width: 600px) {
    body > #root > div {
        height: 100vh;

    }
    body {
        width: 30%;
    }
}

