.resume {
    color: antiquewhite;
}

.resume > h1 {
    text-align: center;
}

.resume > h2 {
    text-align: center;
}

.resume >ul {
    margin-top: 50px;
    display: flex;
    list-style-type: none;
}

.resume > ul > li {
    margin:auto;
}

.resume > a {
}