.resume {
    color: antiquewhite;
}

.resume > h1 {
    text-align: center;
}

.resume > h2 {
    text-align: center;
}

.resume >ul {
    margin-top: 50px;
    display: flex;
    list-style-type: none;
}

.resume > ul > li {
    margin:auto;
}

.resume > p {
    margin-top: 80px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

.resumeLink {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #352343;
    
}

.resumeLink > .resBtn {
    margin-top: 5px;
    height: 30px;
    width: 150px;
    border-radius: 5px;
    padding: 5px;
    border-color: black;
    background-color: antiquewhite;
    text-align: center;
    vertical-align: middle;
    padding-top: 0px;
}

.resBtn:hover {
    background-color: #352343;

}

.resBtn:hover > a:hover {
    color:antiquewhite;
}

.resBtn:hover {
    box-shadow: 0 0 50px antiquewhite;
}

.resume > ul > li > div {
    display: flex;
    align-items: center;
    justify-content: center;
}