.resume {
    color: antiquewhite;
}

.resume > h1 {
    text-align: center;
}

.resume > h2 {
    text-align: center;
}

.resume >ul {
    margin-top: 50px;
    display: flex;
    list-style-type: none;
}

.resume > ul > li {
    margin:auto;
}

.resume > p {
    margin-top: 80px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

.resumeLink {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #352343;
    
}